parameters:
    driver: mysql
    host: localhost
    database: slim_rest
    username: root
    password: ~
    charset: utf8mb4
    collation: utf8mb4_general_ci
    prefix: ~
    secret: 0f45c7e965ccb2bc6fb06974912062fb3ab1d43f
